<script type="text/javascript">
  var BASE_URL = '{{ site.url }}';
</script>

<!-- build:js(src) /scripts/vendor-foot.min.js -->
<!-- bower:js -->
<script src="/bower_components/lodash/lodash.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/fitvids/jquery.fitvids.js"></script>
<script src="/bower_components/responsive-nav/responsive-nav.js"></script>
<script src="/bower_components/jquery-throttle-debounce/jquery.ba-throttle-debounce.min.js"></script>
<script src="/bower_components/fluidbox/dist/js/jquery.fluidbox.min.js"></script>
<!-- endbower -->
<script type="text/javascript" src="/scripts/vendor/search.js"></script>
<!-- endbuild -->

<!-- build:js(.dev) /scripts/main.min.js -->
<script type="text/javascript" src="/scripts/main.js"></script>
<!-- endbuild -->

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 'https://www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
