---
layout: base
search_omit: true
---

<div id="page">
<div class="entry">

{% for post in site.posts limit:10 %}
{% if forloop.first == true %}
  {% include thumbnail.html entry=post class="entry-thumbnail-feature" %}
{% elsif forloop.index >= 1 and forloop.index <= 4 %}
  {% if forloop.index == 2 %}
  <div class="entry-thumbnail-group">
  {% endif %}

  {% include thumbnail.html entry=post class="entry-thumbnail-large" %}

  {% if forloop.index == 4 %}
  </div>
  {% endif %}
{% else %}
  {% if forloop.index == 5 %}
  <div class="entry-wrapper">
    <div class="entry-content">
  {% endif %}

  {% include thumbnail.html entry=post class="entry-thumbnail-medium" %}

  {% if forloop.index == 10 %}
    </div>
  </div>
  {% endif %}
{% endif %}
{% endfor %}

</div>
</div>
