---
layout: base
search_omit: true
---

{% for post in site.posts limit:5 %}
{% if forloop.first == true %}
  {% include post.html post=post content=post.content preview=true %}
{% else %}
<ul class="post-list">
<li>
  <article>
    {% include image.html images=post.image.thumb entry=post %}
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a>
  </article>
</li>
</ul>
{% endif %}
{% endfor %}
