{% capture imagePath %}/{{ site.uploads_path }}/{{ include.entry.layout }}s{% if include.entry.category %}/{{ include.entry.category }}{% endif %}/{% if include.entry.date %}{{ include.entry.date | date: "%Y-%m-%d" }}-{% endif %}{{ include.entry.title | slugify }}/{% endcapture %}
{% assign images = include.images | split: ' ' %}

<div class="image-group">
  {% if include.caption %}
  <figure>
  {% for image in images %}
  <div class="image-container">
    <img src="{{ site.url }}{{ imagePath }}{{ image }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
  </div>
  {% endfor %}
    <figcaption>{{ include.caption }}</figcaption>
  </figure>
  {% else %}
  {% for image in images %}
  <div class="image-container">
    <img src="{{ site.url }}{{ imagePath }}{{ image }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
  </div>
  {% endfor %}
  {% endif %}
</div>
