{% assign recipe = page.recipe %}

<article class="recipe">
  <header>
    <h1>{{ recipe.title }}</h1>
    <div class="recipe-meta">
      <span><i class="fa fa-clock-o" aria-hidden="true"></i><em>  Preparation time:</em> {{ recipe.meta.preparation-time }}</span>
      {% if recipe.meta.cooking-time %}
      <span><i class="fa fa-hourglass-start" aria-hidden="true"></i><em>  Cooking time:</em> {{ recipe.meta.cooking-time }}</span>
      {% endif %}
      <span><i class="fa fa-cutlery" aria-hidden="true"></i><em>  Yield:</em> {{ recipe.meta.yield }}</span>
    </div>
  </header>

  {% if recipe.notes %}
    <div class="recipe-notes">
      {% for note in recipe.notes %}
      <p><em>{{ note }}</em></p>
      {% endfor %}
    </div>
  {% endif %}

  <div class="recipe-ingredients">
    <h2>Ingredients</h2>
    {% for ingredient-list in recipe.ingredient-lists %}
    {% if ingredient-list[1].title %}
    <h5><em>{{ ingredient-list[1].title }}</em></h5>
    {% endif %}
    <ul>
      {% for ingredient in ingredient-list[1].ingredients %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>

  <div class="recipe-method">
    <h2>Method</h2>
    <ol>
      {% for step in recipe.method %}
      <li>{{ step }}</li>
      {% endfor %}
    </ol>
  </div>

  {% if recipe.variations %}
    <div class="recipe-variations">
      <h2>Variations</h2>
      {% for variation in recipe.variations %}
      <p>{{ variation }}</p>
      {% endfor %}
    </div>
  {% endif %}
</article>
