---
sitemap: false
---

/*
 *
 *  So Simple
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

@import "variables";
@import "grid-settings";

/*
   Vendor
   ========================================================================== */
// bower:scss
@import "../bower_components/fontawesome/scss/font-awesome.scss";
@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

/*
   Global
   ========================================================================== */

@import "mixins";
@import "reset";
@import "base";

/*
   Components
   ========================================================================== */

@import "helpers";
@import "buttons";
@import "wells";
@import "syntax";
@import "forms";
@import "notices"; /* notices and alerts */
@import "animations";
@import "masthead";
@import "navigation";
@import "search";
@import "footer";
@import "thumbnails";
@import "image-group";

/*
   Page specific
   ========================================================================== */

@import "page"; /* layout and styles that apply to posts and pages */
@import "recipe"; /* layout and styles that apply to recipes in posts and pages */
@import "archives"; /* archive pages (post/tag lists, etc) */
