/* ==========================================================================
   Site footer
   ========================================================================== */

.footer-wrapper {
  @include clearfix;
  margin: 2em auto;
  text-align: center;
  font-family: $alt-font;
  @include font-size(14);
  font-style: italic;
  color: lighten($text-color,20);
  a {
    color: lighten($text-color,20);
  }
}

#footer-site-info {
  @include clearfix;
	border-bottom: 1px solid lighten($black,80);
	border-bottom: 1px solid rgba($black,.10);

  section{
    @include clearfix;
    @include media($medium) {
      @include span-columns(4 of 12);
      @include omega(3n);
    }
  }

}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0 2em;
  a {
    padding: 4px 8px;
    &:hover {
      color: $black;
    }
  }
}
