/* ==========================================================================
   Recipe layout and styling
   ========================================================================== */

/*
   Main content
   ========================================================================== */

.recipe-meta {
	@include span-columns(12);
	text-transform: uppercase;
	@include font-size(14);

	& > span {
		padding: 0 20px 10px 0;
		display: inline-block;
  }
}

.recipe-notes, .recipe-variations {
	@include font-size(15);
  p {
    font-size: inherit;
  }
}
